.body-about {
  background-color: #abdac3;
}
.about-section {
  max-width: 600px;
  margin: 0 auto;
  background-color: #abdac3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-size: 18px;
  color: black;
  opacity: 80%;
  padding: 10px;
}

.container {
  color: #2c5ce5;
  display: flex;
  justify-content: space-around;
}
