
.body-app{
  background-color:  #ABDAC3;
}
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
margin: 30px;
 max-width: 150px;
 border-radius: 50%;
  pointer-events: none;
}

.App-header {

 
  max-width: 600px;
  margin: 0 auto;
  background-color: #2C5CE5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding:10px;
}
.my-name{

  font-size: 25px;
}
.front-end-dev{
font-weight: 600;
  font-size: 18px;
}
.based-in-lisbon{
  font-size: 14px;
  padding:20px;
}

.App-link {
  color: #61dafb;
}


