
  .body-contact{
    background-color:  #2C5CE5;
}
.contact-section {
    max-width: 600px;
    margin: 0 auto;
    background-color: #F9B5CC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #2C5CE5;
    padding:10px;
    font-size: 16px;}

    .contact-title{
      margin:18px;
    }
  .social-link{
      font-size: 12px;
      display: inline-flex;
      margin: 5px;

  }

  .social-link:hover{
    font-size: 18px;
    color: #F64809;

    
}