.body-projects {
  background-color: #f9b614;
}
.project-section {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9b614;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 10px;
}

.container {
  text-align: centre;
  display: flex;
}

p {
  font-size: 12px;
  color: black;
}

img {
  max-width: 600px;
  padding: 20px;
}
