.body-projects{
    background-color:  #F9B614;;
}
.project-section {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ABDAC3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #F64809;
  }
  